.App {
  text-align: center;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Gloria Hallelujah', cursive;
}

.jumbotron {
  color: #D1CABA;
}


h3 {
  color: #E5BECF;
}

#submit_btn {
  background-color: #EEDCE1;
}

.oneThought {
  border: 1px solid #EEDCE1;
  padding: 1em;
  margin: 0.2em;
}
